.containerCadastrarCliente {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  max-width: 50vw;
  margin: 20px auto;
}

.tabelaClientesContainer {
  margin-top: 20px;
  overflow-y: auto;
  max-height: 50vh;
}

.campoPesquisaTabelas {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.campoPesquisaTabelas input {
  flex: 1;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.campoPesquisaTabelas button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.campoPesquisaTabelas button:hover {
  background-color: #45a049;
}

.tabelaClientes {
  width: 100%;
  border-collapse: collapse;
}

.tabelaClientes th,
.tabelaClientes td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabelaClientes tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.selecionado {
  background-color: #d1f0d1 !important;
}


/* ------- PAGINAÇÃO ------- */

.pagination {
  margin-top: 6px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.pagination button {
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  background: #4caf50;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  transition: 0.2s;
}

.pagination button:hover:not(:disabled) {
  background: #3d9441;
}

.pagination button:disabled {
  background: #9c9c9c;
}

.inputPagina {
  width: 40px;
  padding: 3px;
  text-align: center;
  font-size: 0.8rem;
  border: 1px solid #b7d8c2;
  border-radius: 4px;
  background: #f4fff7;
  transition: 0.2s;
}

.inputPagina:hover {
  border-color: #7acb8d;
  background: #ebffee;
}