
/* ------- PAGINAÇÃO ------- */

.pagination {
  margin-top: 6px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.pagination button {
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  background: #4caf50;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  transition: 0.2s;
}

.pagination button:hover:not(:disabled) {
  background: #3d9441;
}

.pagination button:disabled {
  background: #9c9c9c;
}

.inputPagina {
  width: 40px;
  padding: 3px;
  text-align: center;
  font-size: 0.8rem;
  border: 1px solid #b7d8c2;
  border-radius: 4px;
  background: #f4fff7;
  transition: 0.2s;
}

.inputPagina:hover {
  border-color: #7acb8d;
  background: #ebffee;
}

